{% extends "base.html" %}

{% block content %}
    <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/check.css') }}">
    </head>
    <style>
    body{
        background-image: url('https://static4.depositphotos.com/1011084/358/i/600/depositphotos_3581828-stock-photo-backgrounds.jpg');
        background-size:1900px 900px;
    }
    </style>
    <h1 class="wc">Book the taxi here</h1>
    <table class="center">
	    <tr>
		    <th><b>Driver Name</b></th>
		    <th><b>Vehicle No</b></th>
		    <th><b>Vehicle Type</b></th>
		    <th><b>From</b></th>
		    <th><b>To</b></th>
		    <th><b>Phone No</b></th>
		    <th><b>Book Cab</b></th>
	    </tr>
	    {% for item in results %}
	    <tr>
		    <td>{{ item.dname }}</td>
		    <td>{{ item.Vno }}</td>
		    <td>{{ item.Vtype }}</td>
		    <td>{{ item.From }}</td>
		    <td>{{ item.To }}</td>
		    <td>{{ item.phone }}</td>
		    <td><a class="s2" href="{{ url_for('bookcab', dname=item.dname, Vno=item.Vno, Vtype=item.Vtype, From=item.From, To=item.To, phone=item.phone) }}">Book</a></td>
	    </tr>
	    {% endfor %}
    </table> 
{% endblock %}

