{% extends "base.html" %}

{% block content %}
    <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custhome.css') }}">
    </head>
    <style>
    body{
        background-image: url('https://static4.depositphotos.com/1011084/358/i/600/depositphotos_3581828-stock-photo-backgrounds.jpg');
        background-size:1900px 900px;
    }
    </style>
    <h1 class="wc">WELCOME TO BOOKIT</h1>
    <h4 class="wc">Hello!</h4>
    <p class="wc">We give customer satisfaction the utmost priority and so give ample options to book taxi by entering details like their journey pick-up point and the destination they need to reach.</p>
    <div class="wc">
	    <p>You can book the taxi here, Check Availability <a class="s2" href="{{ url_for('check') }}">Check</a></p>
    </div>
{% endblock %}

