{% extends "base.html" %}

{% block content %}
    <head>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head> 
    <style>
    body{
	background-image: url('https://static4.depositphotos.com/1011084/358/i/600/depositphotos_3581828-stock-photo-backgrounds.jpg');
	background-size:1900px 900px;
    }
    </style>
    <h1 class="wc">WELCOME TO BOOKIT</h1>
    <h4 class="wc">Hello, {{ current_user.username }}!</h4>
    <img src="https://images.unsplash.com/photo-1490650404312-a2175773bbf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Taxi" class="center"/>
    <p class="wc">The owner provides taxi to the drivers, he can add the taxi and details of the driver here. To add the details <a class="s2" href="{{ url_for('cabs') }}">Click here!</a></p> 
{% endblock %}
