{% extends "base.html" %}

{% block content %}
    <head>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    </head> 
    <style>
    body {
	background-image: url('https://images.unsplash.com/photo-1516733968668-dbdce39c4651?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80');
   	background-size:1900px 900px;
    }
    </style>
    <h1 class="s">Driver Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="s1">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="s1">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="s1">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p class="s1">{{ form.submit() }}</p>
    </form>
    <p class="s">Don't have an account? <a class="s2" href="{{ url_for('register') }}">Click to Register!</a></p>
{% endblock %}
