{% extends "base.html" %}

{% block content %}
    <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registercustomer.css') }}">
    </head>
    <style>
    body{
        background-image: url('https://static4.depositphotos.com/1011084/358/i/600/depositphotos_3581828-stock-photo-backgrounds.jpg');
        background-size:1850px 850px;
    }
    </style> 
    <h1 class="r">Register Customer</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="r1">
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="r1">
            {{ form.phno.label }}<br>
            {{ form.phno(size=32) }}<br>
            {% for error in form.phno.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p class="r1">
	    {{ form.mailid.label }}<br>
	    {{ form.mailid(size=32) }}<br>
	    {% for error in form.mailid.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {% endfor %}
	</p>
	<p class="r1">
	    {{ form.gender.label }}<br>
	    {{ form.gender(size=32) }}<br>
	    {% for error in form.gender.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {% endfor %}
	</p>
        <p class="r1">
            {{ form.caddress.label }}<br>
            {{ form.caddress(size=32) }}<br>
            {% for error in form.caddress.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p class="r1">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="r1">
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p class="r1">{{ form.submit() }}</p>
    </form>
{% endblock %}

