.s1{
        color:#c06731; 
        font-size:30px;
        font-family:"Times New Roman", Times, serif;
}

.s{
	text-align:center;
	color:#c06731;
        font-size:30px;
        font-family:"Times New Roman", Times, serif;
}

.s2{
	text-decoration:none;
}

form{
	width:300px;
	margin:0 auto;
}

