.r1{
        color:#ff7f50;
        font-size:30px;
        font-family:"Times New Roman", Times, serif;
}

.r{
	text-align:center;
	color:#ff7f50;
        font-size:30px;
        font-family:"Times New Roman", Times, serif;
}

form{
        width:300px;
        margin:0 auto;
}


